@media only screen and (min-width: 1200px) {
  .nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px #ccc;
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* z-index: 1; */
    padding: 20px;
  }
  .nav_mid_iteams {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav_mid_iteams div {
    padding: 20px;
  }

  .mainlogo {
    width: 70px;
  }
  .login_btn {
    background-color: #524f4f;
    color: white;
    font-weight: 400;
    font-size: large;
  }
}

@media only screen and (max-width: 1200px) {
  .nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #ff0000;
    box-shadow: 0px 0px 10px #ccc;
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* z-index: 1; */
    padding: 20px;
  }
  .nav_mid_iteams {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav_mid_iteams div {
    padding: 20px;
  }

  .mainlogo {
    width: 70px;
  }
  .login_btn {
    background-color: #524f4f;
    color: white;
    font-weight: 400;
    font-size: large;
  }
}

@media only screen and (max-width: 992px) {
  .my_btn {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .my_btn1 {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .my_btn1 {
    display: none;
  }
}
.mainlogo {
  width: 70px;
}
.login_btn {
  background-color: #524f4f;
  color: white;
  font-weight: 400;
  font-size: large;
}

.profilephoto {
  width: 40px;
  height: 40px;
}
.div_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #0a142f;
}
.dis_flex div {
  padding: 50px;
  background-color: #ffffff;
  margin: 50px;
  border-radius: 10px;
}
.dis_flex {
  display: flex;
   justify-content: space-between;
  align-items: center
}

.tag_line {
  color: white;
  font-size: xx-large;
  font-weight: bold;
  background-color: #0a142f;
  padding: 50px;
  margin-top: 40px;
}

.deshbord_find_text {
  color: black;
  font-size: xx-large;
  font-weight: bold;
  background-color: white;
  padding: 50px;
}

.footer_div {
  background-color: #0a142f;
  color: white;
  padding: 20px;
  margin-top: 50px;
  display: flex;
   justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.btn_contact_us{
  border-radius: 15px;
  margin: 5px;
  margin: 30px;
}
.blur_text{
  color: #9DA1AC;
  font-size: small;
  font-weight: 800;
}
.team_name{
  font-size: 40px;
  font-weight: 400;
}
.line_div{
  border: 1px solid white;
  width: 60%;
}
.social_media{
  display: flex;
  flex-direction: row;
}