.form-container{
    margin:260px auto;
    padding: 20px 40px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.login{
    text-align: center;
    font-size:30px;
    margin-bottom:40px;
    margin-top: 30px;
}
input{
    background-color:white ;
    padding:7px 10px;
    border:1px solid black;
}
input:focus{
    outline:none;
}
.flex-container{
    display: flex;
    flex-direction: column;
}
.form{
    gap:30px;
}
.input-container{
    gap:10px;
}
button {
    padding: 6px 11px;
    border:none;
    background-color: #0A142F;
    font-size: 20px;
    color:white;
    margin-top:30px;
    margin-bottom: 50px;
}
.error {
    color:red;
    margin:0px;
}